body {
 background: linear-gradient(90deg, black 1%, blue 39%, lightblue 100%);
}

h1{
  color: white;
  text-align: center;
  
  letter-spacing: .3;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 425px;
  height: 275px;
  border: none;
  border-color: white;
  background-image: linear-gradient(red ,yellow);
}

label {
  color: white;
  font-size: 20px;
}
