body {
  background-color: white;
}

h1 {
  text-align: center;
}


.achievements {
  display: inline;
  
}

.work-heading {
  text-align: center;
  font-size: 30px;
  color: slategray;
}

.work-text {
  justify-content: center;
  text-align: center;
  align-content: center;
} 


.aboutme {
  color: darkolivegreen;
  text-align: center;
}
